# Time Series Anomaly Detection

In [1]:
import pandas as pd

df = pd.read_csv('./data/occupancy/datatraining.csv')
df = df.drop(['index', 'date', 'Occupancy'], axis=1)
df.head()

   Temperature  Humidity  Light     CO2  HumidityRatio
0        23.18   27.2720  426.0  721.25       0.004793
1        23.15   27.2675  429.5  714.00       0.004783
2        23.15   27.2450  426.0  713.50       0.004779
3        23.15   27.2000  426.0  708.25       0.004772
4        23.10   27.2000  426.0  704.50       0.004757

## Simple Sliding Window Approach - Z-score

In [42]:
window = 10
stdThreshold = 3
# zScoreDict = {col: [] for col in list(df)}
# for i in range(0, df.shape[0], window):
#     for key in zScoreDict.keys():
#         print(key, df[key].iloc[i:i+window])

In [34]:
mean = df.rolling(window).mean()
std = df.rolling(window).std()
upperBound = mean+(3*std)
lowerBound = mean-(3*std)
withinLower = lowerBound.iloc[window:] <= df.iloc[window:]
withinUpper = df.iloc[window:] <= upperBound.iloc[window:]

In [45]:
for rowIndex in range(window, df.iloc[window:].shape[0]):
    rows = []
    if not (withinUpper.iloc[rowIndex][0] == True and withinUpper.iloc[rowIndex].all()):
        print(f"Row {rowIndex} has some values that are more than {stdThreshold} std away")
        print(df.iloc[rowIndex])
    elif not (withinLower.iloc[rowIndex][0] == True and withinLower.iloc[rowIndex].all()):
        print(f"Row {rowIndex} has some values that are less than {stdThreshold} away")
        print(df.iloc[rowIndex])

Row 143 has some values that are more than 3 std away
Temperature       21.745000
Humidity          27.000000
Light              0.000000
CO2              528.500000
HumidityRatio      0.004346
Name: 143, dtype: float64
Row 151 has some values that are more than 3 std away
Temperature       21.700000
Humidity          26.890000
Light              0.000000
CO2              529.000000
HumidityRatio      0.004316
Name: 151, dtype: float64
Row 318 has some values that are more than 3 std away
Temperature       21.200000
Humidity          25.600000
Light              0.000000
CO2              469.500000
HumidityRatio      0.003983
Name: 318, dtype: float64
Row 326 has some values that are more than 3 std away
Temperature       21.200000
Humidity          25.500000
Light              0.000000
CO2              467.333333
HumidityRatio      0.003967
Name: 326, dtype: float64
Row 334 has some values that are more than 3 std away
Temperature       21.20000
Humidity          25.39000
Light              0.00000
CO2              466.25000
HumidityRatio      0.00395
Name: 334, dtype: float64
Row 375 has some values that are more than 3 std away
Temperature       21.245000
Humidity          25.200000
Light              0.000000
CO2              458.500000
HumidityRatio      0.003931
Name: 375, dtype: float64
Row 383 has some values that are more than 3 std away
Temperature       21.290000
Humidity          25.200000
Light              0.000000
CO2              457.000000
HumidityRatio      0.003942
Name: 383, dtype: float64
Row 446 has some values that are more than 3 std away
Temperature       21.200000
Humidity          25.245000
Light              0.000000
CO2              450.000000
HumidityRatio      0.003927
Name: 446, dtype: float64
Row 451 has some values that are more than 3 std away
Temperature       21.20000
Humidity          25.20000
Light              0.00000
CO2              444.50000
HumidityRatio      0.00392
Name: 451, dtype: float64
Row 459 has some values that are more than 3 std away
Temperature       21.200000
Humidity          25.100000
Light              0.000000
CO2              444.000000
HumidityRatio      0.003905
Name: 459, dtype: float64
Row 467 has some values that are more than 3 std away
Temperature       21.200000
Humidity          25.100000
Light              0.000000
CO2              442.500000
HumidityRatio      0.003905
Name: 467, dtype: float64
Row 736 has some values that are more than 3 std away
Temperature       20.840000
Humidity          23.245000
Light              0.000000
CO2              448.500000
HumidityRatio      0.003535
Name: 736, dtype: float64
Row 751 has some values that are more than 3 std away
Temperature       20.856667
Humidity          23.066667
Light              0.000000
CO2              450.500000
HumidityRatio      0.003511
Name: 751, dtype: float64
Row 794 has some values that are more than 3 std away
Temperature       20.700000
Humidity          22.767500
Light              0.000000
CO2              456.750000
HumidityRatio      0.003432
Name: 794, dtype: float64
Row 802 has some values that are more than 3 std away
Temperature       20.700000
Humidity          22.700000
Light              0.000000
CO2              452.000000
HumidityRatio      0.003422
Name: 802, dtype: float64
Row 810 has some values that are more than 3 std away
Temperature       20.700000
Humidity          22.500000
Light              0.000000
CO2              455.000000
HumidityRatio      0.003391
Name: 810, dtype: float64
Row 818 has some values that are more than 3 std away
Temperature       20.700000
Humidity          22.500000
Light              0.000000
CO2              457.000000
HumidityRatio      0.003391
Name: 818, dtype: float64
Row 1062 has some values that are more than 3 std away
Temperature        22.200000
Humidity           26.972500
Light             449.500000
CO2              1104.750000
HumidityRatio       0.004464
Name: 1062, dtype: float64
Row 1223 has some values that are more than 3 std away
Temperature       22.200000
Humidity          26.122500
Light            444.000000
CO2              776.750000
HumidityRatio      0.004323
Name: 1223, dtype: float64
Row 1419 has some values that are more than 3 std away
Temperature       22.200000
Humidity          24.700000
Light            433.000000
CO2              938.000000
HumidityRatio      0.004086
Name: 1419, dtype: float64
Row 1576 has some values that are more than 3 std away
Temperature       21.200000
Humidity          19.445000
Light              0.000000
CO2              488.500000
HumidityRatio      0.003021
Name: 1576, dtype: float64
Row 1584 has some values that are more than 3 std away
Temperature       21.200000
Humidity          19.290000
Light              0.000000
CO2              484.500000
HumidityRatio      0.002996
Name: 1584, dtype: float64
Row 1680 has some values that are more than 3 std away
Temperature       20.70000
Humidity          20.44500
Light              0.00000
CO2              461.50000
HumidityRatio      0.00308
Name: 1680, dtype: float64
Row 2233 has some values that are more than 3 std away
Temperature       20.200000
Humidity          18.600000
Light              0.000000
CO2              432.666667
HumidityRatio      0.002715
Name: 2233, dtype: float64
Row 3066 has some values that are more than 3 std away
Temperature       20.150000
Humidity          19.150000
Light              0.000000
CO2              452.000000
HumidityRatio      0.002787
Name: 3066, dtype: float64
Row 3287 has some values that are more than 3 std away
Temperature       20.000000
Humidity          18.700000
Light              0.000000
CO2              437.500000
HumidityRatio      0.002696
Name: 3287, dtype: float64
Row 3325 has some values that are more than 3 std away
Temperature       20.000000
Humidity          18.700000
Light              0.000000
CO2              441.500000
HumidityRatio      0.002696
Name: 3325, dtype: float64
Row 3342 has some values that are more than 3 std away
Temperature       19.926667
Humidity          18.790000
Light              0.000000
CO2              435.000000
HumidityRatio      0.002697
Name: 3342, dtype: float64
Row 3344 has some values that are more than 3 std away
Temperature       19.890000
Humidity          18.790000
Light              0.000000
CO2              441.333333
HumidityRatio      0.002691
Name: 3344, dtype: float64
Row 3346 has some values that are more than 3 std away
Temperature       19.890000
Humidity          18.790000
Light              0.000000
CO2              444.000000
HumidityRatio      0.002691
Name: 3346, dtype: float64
Row 3348 has some values that are more than 3 std away
Temperature       19.890000
Humidity          18.790000
Light              0.000000
CO2              438.500000
HumidityRatio      0.002691
Name: 3348, dtype: float64
Row 3350 has some values that are more than 3 std away
Temperature       19.890000
Humidity          18.760000
Light              0.000000
CO2              437.666667
HumidityRatio      0.002687
Name: 3350, dtype: float64
Row 3352 has some values that are more than 3 std away
Temperature       19.890000
Humidity          18.790000
Light              0.000000
CO2              437.500000
HumidityRatio      0.002691
Name: 3352, dtype: float64
Row 3354 has some values that are more than 3 std away
Temperature       19.890000
Humidity          18.790000
Light              0.000000
CO2              439.000000
HumidityRatio      0.002691
Name: 3354, dtype: float64
Row 3356 has some values that are more than 3 std away
Temperature       19.890000
Humidity          18.790000
Light              0.000000
CO2              439.000000
HumidityRatio      0.002691
Name: 3356, dtype: float64
Row 3358 has some values that are more than 3 std away
Temperature       19.890000
Humidity          18.890000
Light              0.000000
CO2              437.000000
HumidityRatio      0.002705
Name: 3358, dtype: float64
Row 3360 has some values that are more than 3 std away
Temperature       19.890000
Humidity          18.840000
Light              0.000000
CO2              438.000000
HumidityRatio      0.002698
Name: 3360, dtype: float64
Row 3362 has some values that are more than 3 std away
Temperature       19.890000
Humidity          18.790000
Light              0.000000
CO2              438.000000
HumidityRatio      0.002691
Name: 3362, dtype: float64
Row 3364 has some values that are more than 3 std away
Temperature       19.890000
Humidity          18.890000
Light              0.000000
CO2              436.333333
HumidityRatio      0.002705
Name: 3364, dtype: float64
Row 3381 has some values that are more than 3 std away
Temperature       19.890000
Humidity          18.890000
Light              0.000000
CO2              439.000000
HumidityRatio      0.002705
Name: 3381, dtype: float64
Row 3383 has some values that are more than 3 std away
Temperature       19.890000
Humidity          18.890000
Light              0.000000
CO2              437.000000
HumidityRatio      0.002705
Name: 3383, dtype: float64
Row 3385 has some values that are more than 3 std away
Temperature       19.890000
Humidity          18.890000
Light              0.000000
CO2              439.000000
HumidityRatio      0.002705
Name: 3385, dtype: float64
Row 3387 has some values that are more than 3 std away
Temperature       19.890000
Humidity          18.890000
Light              0.000000
CO2              440.500000
HumidityRatio      0.002705
Name: 3387, dtype: float64
Row 3389 has some values that are more than 3 std away
Temperature       19.890000
Humidity          18.890000
Light              0.000000
CO2              433.000000
HumidityRatio      0.002705
Name: 3389, dtype: float64
Row 3391 has some values that are more than 3 std away
Temperature       19.890000
Humidity          19.000000
Light              0.000000
CO2              433.000000
HumidityRatio      0.002721
Name: 3391, dtype: float64
Row 3393 has some values that are more than 3 std away
Temperature       19.890000
Humidity          18.890000
Light              0.000000
CO2              437.000000
HumidityRatio      0.002705
Name: 3393, dtype: float64
Row 3395 has some values that are more than 3 std away
Temperature       19.890000
Humidity          19.000000
Light              0.000000
CO2              438.000000
HumidityRatio      0.002721
Name: 3395, dtype: float64
Row 3397 has some values that are more than 3 std away
Temperature       19.890000
Humidity          19.000000
Light              0.000000
CO2              440.666667
HumidityRatio      0.002721
Name: 3397, dtype: float64
Row 3399 has some values that are more than 3 std away
Temperature       19.890000
Humidity          18.890000
Light              0.000000
CO2              438.000000
HumidityRatio      0.002705
Name: 3399, dtype: float64
Row 3401 has some values that are more than 3 std away
Temperature       19.890000
Humidity          18.945000
Light              0.000000
CO2              441.000000
HumidityRatio      0.002713
Name: 3401, dtype: float64
Row 3403 has some values that are more than 3 std away
Temperature       19.890000
Humidity          18.890000
Light              0.000000
CO2              439.000000
HumidityRatio      0.002705
Name: 3403, dtype: float64
Row 3405 has some values that are more than 3 std away
Temperature       19.890000
Humidity          18.890000
Light              0.000000
CO2              437.000000
HumidityRatio      0.002705
Name: 3405, dtype: float64
Row 3407 has some values that are more than 3 std away
Temperature       19.890000
Humidity          18.945000
Light              0.000000
CO2              436.000000
HumidityRatio      0.002713
Name: 3407, dtype: float64
Row 3462 has some values that are more than 3 std away
Temperature       19.745000
Humidity          19.200000
Light              0.000000
CO2              438.666667
HumidityRatio      0.002725
Name: 3462, dtype: float64
Row 3611 has some values that are more than 3 std away
Temperature       19.700000
Humidity          19.390000
Light              0.000000
CO2              439.000000
HumidityRatio      0.002744
Name: 3611, dtype: float64
Row 3632 has some values that are more than 3 std away
Temperature       19.700000
Humidity          19.390000
Light              0.000000
CO2              446.000000
HumidityRatio      0.002744
Name: 3632, dtype: float64
Row 4522 has some values that are more than 3 std away
Temperature       19.890000
Humidity          26.600000
Light              0.000000
CO2              438.000000
HumidityRatio      0.003816
Name: 4522, dtype: float64
Row 4524 has some values that are more than 3 std away
Temperature       19.890000
Humidity          26.550000
Light              0.000000
CO2              442.000000
HumidityRatio      0.003809
Name: 4524, dtype: float64
Row 4526 has some values that are more than 3 std away
Temperature       19.890000
Humidity          26.600000
Light              0.000000
CO2              440.500000
HumidityRatio      0.003816
Name: 4526, dtype: float64
Row 4528 has some values that are more than 3 std away
Temperature       19.890000
Humidity          26.700000
Light              0.000000
CO2              441.000000
HumidityRatio      0.003831
Name: 4528, dtype: float64
Row 4530 has some values that are more than 3 std away
Temperature       19.890000
Humidity          26.840000
Light              0.000000
CO2              429.500000
HumidityRatio      0.003851
Name: 4530, dtype: float64
Row 4532 has some values that are more than 3 std away
Temperature       19.890000
Humidity          26.675000
Light              0.000000
CO2              443.000000
HumidityRatio      0.003827
Name: 4532, dtype: float64
Row 4534 has some values that are more than 3 std away
Temperature       19.890000
Humidity          26.700000
Light              0.000000
CO2              441.000000
HumidityRatio      0.003831
Name: 4534, dtype: float64
Row 4536 has some values that are more than 3 std away
Temperature       19.890000
Humidity          26.700000
Light              0.000000
CO2              438.666667
HumidityRatio      0.003831
Name: 4536, dtype: float64
Row 4538 has some values that are more than 3 std away
Temperature       19.890000
Humidity          26.790000
Light              0.000000
CO2              438.000000
HumidityRatio      0.003844
Name: 4538, dtype: float64
Row 4607 has some values that are more than 3 std away
Temperature       19.745000
Humidity          28.340000
Light              0.000000
CO2              439.500000
HumidityRatio      0.004031
Name: 4607, dtype: float64
Row 5503 has some values that are more than 3 std away
Temperature       20.65000
Humidity          27.65000
Light            202.00000
CO2              427.00000
HumidityRatio      0.00416
Name: 5503, dtype: float64
Row 5725 has some values that are more than 3 std away
Temperature       19.445000
Humidity          27.200000
Light             17.000000
CO2              434.500000
HumidityRatio      0.003796
Name: 5725, dtype: float64
Row 5727 has some values that are more than 3 std away
Temperature       19.390000
Humidity          27.125000
Light             17.000000
CO2              420.500000
HumidityRatio      0.003772
Name: 5727, dtype: float64
Row 5729 has some values that are more than 3 std away
Temperature       19.390000
Humidity          27.166667
Light             11.333333
CO2              423.666667
HumidityRatio      0.003778
Name: 5729, dtype: float64
Row 5731 has some values that are more than 3 std away
Temperature       19.390000
Humidity          27.175000
Light              7.000000
CO2              421.000000
HumidityRatio      0.003779
Name: 5731, dtype: float64
Row 5800 has some values that are more than 3 std away
Temperature       19.340000
Humidity          27.445000
Light              0.000000
CO2              425.000000
HumidityRatio      0.003805
Name: 5800, dtype: float64
Row 5922 has some values that are less than 3 away
Temperature       19.390000
Humidity          27.445000
Light              0.000000
CO2              443.500000
HumidityRatio      0.003817
Name: 5922, dtype: float64
Row 5923 has some values that are more than 3 std away
Temperature       19.390000
Humidity          27.390000
Light              0.000000
CO2              444.500000
HumidityRatio      0.003809
Name: 5923, dtype: float64
Row 5924 has some values that are less than 3 away
Temperature       19.390000
Humidity          27.390000
Light              0.000000
CO2              442.000000
HumidityRatio      0.003809
Name: 5924, dtype: float64
Row 6151 has some values that are more than 3 std away
Temperature       19.500000
Humidity          26.945000
Light              0.000000
CO2              456.500000
HumidityRatio      0.003773
Name: 6151, dtype: float64
Row 6152 has some values that are less than 3 away
Temperature       19.500000
Humidity          26.890000
Light              0.000000
CO2              459.000000
HumidityRatio      0.003765
Name: 6152, dtype: float64
Row 6153 has some values that are more than 3 std away
Temperature       19.500000
Humidity          26.890000
Light              0.000000
CO2              452.000000
HumidityRatio      0.003765
Name: 6153, dtype: float64
Row 6154 has some values that are less than 3 away
Temperature       19.500000
Humidity          26.890000
Light              0.000000
CO2              455.333333
HumidityRatio      0.003765
Name: 6154, dtype: float64
Row 6258 has some values that are more than 3 std away
Temperature       19.445000
Humidity          26.995000
Light              0.000000
CO2              470.000000
HumidityRatio      0.003767
Name: 6258, dtype: float64
Row 6259 has some values that are less than 3 away
Temperature       19.390000
Humidity          26.890000
Light              0.000000
CO2              472.000000
HumidityRatio      0.003739
Name: 6259, dtype: float64
Row 6404 has some values that are less than 3 away
Temperature       19.290000
Humidity          26.790000
Light              0.000000
CO2              461.000000
HumidityRatio      0.003702
Name: 6404, dtype: float64
Row 6405 has some values that are more than 3 std away
Temperature       19.290000
Humidity          26.890000
Light              0.000000
CO2              465.000000
HumidityRatio      0.003716
Name: 6405, dtype: float64
Row 6406 has some values that are less than 3 away
Temperature       19.290000
Humidity          26.890000
Light              0.000000
CO2              470.500000
HumidityRatio      0.003716
Name: 6406, dtype: float64
Row 6407 has some values that are more than 3 std away
Temperature       19.290000
Humidity          26.890000
Light              0.000000
CO2              471.500000
HumidityRatio      0.003716
Name: 6407, dtype: float64
Row 6408 has some values that are less than 3 away
Temperature       19.290000
Humidity          26.890000
Light              0.000000
CO2              469.000000
HumidityRatio      0.003716
Name: 6408, dtype: float64
Row 6409 has some values that are more than 3 std away
Temperature       19.290000
Humidity          26.890000
Light              0.000000
CO2              473.000000
HumidityRatio      0.003716
Name: 6409, dtype: float64
Row 6410 has some values that are less than 3 away
Temperature       19.290000
Humidity          26.890000
Light              0.000000
CO2              467.000000
HumidityRatio      0.003716
Name: 6410, dtype: float64
Row 6411 has some values that are more than 3 std away
Temperature       19.290000
Humidity          26.890000
Light              0.000000
CO2              468.000000
HumidityRatio      0.003716
Name: 6411, dtype: float64
Row 6412 has some values that are less than 3 away
Temperature       19.290000
Humidity          26.890000
Light              0.000000
CO2              463.000000
HumidityRatio      0.003716
Name: 6412, dtype: float64
Row 6413 has some values that are more than 3 std away
Temperature       19.290000

In [40]:
(withinUpper.iloc[rowIndex][0] == True and withinUpper.iloc[rowIndex].all())

True

In [46]:
mean

      Temperature   Humidity  Light         CO2  HumidityRatio
0             NaN        NaN    NaN         NaN            NaN
1             NaN        NaN    NaN         NaN            NaN
2             NaN        NaN    NaN         NaN            NaN
3             NaN        NaN    NaN         NaN            NaN
4             NaN        NaN    NaN         NaN            NaN
...           ...        ...    ...         ...            ...
8138    21.008375  35.830125  433.0  751.995833       0.005523
8139    21.017500  35.861250  433.0  759.683333       0.005531
8140    21.027500  35.905750  433.0  767.633333       0.005541
8141    21.037500  35.961750  433.0  776.641667       0.005553
8142    21.047500  36.005750  434.4  784.841667       0.005564

[8143 rows x 5 columns]

In [49]:
# Todo
# Use Ashwin's Time series to model client ips
# time generated on x axis, number of distinct client ips per hour on the y axis